.card {
  width: 300px;
  height: 215px;
  background: #fff;
  padding: 20px 15px;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  height: 360px;
}

.card__image {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  margin-top: -140px;
  visibility: hidden;
  opacity: 0;
}

.card:hover .card__content {
  visibility: visible;
  margin-top: -40px;
  opacity: 1;
}
